@*This is the menu area*@
    <div class="navbar navbar-default navbar-fixed-top">
     @*   This will be the title of the menu*@
        <div class="navbar-header">
            <a class="navbar-brand" style="font-size:x-large"><strong>Razor Samples</strong></a>
        </div>
        @*The menu root items*@
    <ul class="nav navbar-nav">
        @*This will be a menu item*@
        <li><a href="@Href("~/default.cshtml")">Home</a></li>
        @*This will be the drop down menu*@
        <li class="dropdown">
            @*This is the drop down root menu item*@
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">Controls<b class="caret"></b></a>
            @* Drop down menu items*@
            <ul class="dropdown-menu">
                <li> <a href="@Href("~/Controls/TextBoxes.cshtml")">Text Boxes</a></li>
                <li> <a href="@Href("~/Controls/RadioButtonList.cshtml")">Radio Buttons List</a></li>
                <li> <a href="@Href("~/Controls/CheckBoxes.cshtml")">Check Boxes</a></li>
                <li> <a href="@Href("~/Controls/DropDownList.cshtml")">Drop Down List</a></li>
            </ul>
        </li>
        <li class="dropdown">
            @*This is the drop down root menu item*@
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">DB Samples<b class="caret"></b></a>
            @* Drop down menu items*@
        <ul class="dropdown-menu">
            <li> <a href="@Href("~/DBPages/DBSingleQuery.cshtml")">Single Query</a></li>
            <li> <a href="@Href("~/DBPages/MultiRecordQuery.cshtml")">Multi Record Query</a></li>
        </ul>
        </li>
    </ul>
    </div>

